body {
    background-size: cover;
    background: linear-gradient(to top, #aaffaa, #ffff88) no-repeat fixed;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


