body {
    min-width: 250px;
    background-size: cover;
    background: linear-gradient(to top, #99ff77, #ffff77) no-repeat fixed;
}

header {
    background: url("img/backgrounds/header_background.png");
    width: 100%;
    object-fit: cover;
}

#headerContainer {
    border-radius: 25px;
    background-color: hsla(0, 0%, 100%, 0.75);
}

#mainPageContent {
    border-radius: 10px;
}

.nav-link {
    font-size: larger;
    font-weight: bold;
    font-family: "Comic Sans MS", serif;
}

.carousel-recipe-preview {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* nahradí corousel-caption */
.carousel-recipe-caption {
    position: absolute;
    display: flex;
    border-radius: 15px;
    color: black;
    text-align: left;
    left: 1rem;
    bottom: 1rem;
    right: auto;
    background-color: hsla(0, 0%, 100%, 0.65);
    padding: 1rem;
    gap: 1rem;
}

.web-icon {
    width: 40px;
    height: 40px;
}

.user-icon {
    width: 32px;
    height: 32px;
}

.rating-bar {
    height: 20px;
    width: 100px;
    position: relative;
}

.rating-star {
    height: 20px;
    display: block;
    background: url("img/icons/user_rating.png") repeat-x;
    background-size: 20px 20px;
}

.rating-bg {
    width: 100%;
    height: 20px;
    display: block;
    background: url("img/icons/user_rating_bg.png") repeat-x;
    background-size: 20px 20px;
}
